.DS_Store
*.bak
**/__Previews/**
**/History/**
debug.log
**/Project Logs*/**
~$*

# quartus
**/simulation/**
**/output_files/**
**/incremental_db/**
**/db/**
*.rpt
*.chg
*.log
*.htm
*.eqn
*.pin
*.sof
*.pof
*.summary
*.done
*.smsg
*.qws
*.jdi
